<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-700">Tên danh mục <span class="text-[red]">*</span></label>
    <select name="" formControlName="categoryId"
      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm h-[30px] border border-gray-300 rounded-md pl-[10px]">
      <option value="0">Vui lòng chọn danh mục</option>
      <option *ngFor="let cate of category" value={{cate._id}}>{{cate.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Tên sản phẩm</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="">Giá sản phẩm</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="">Giá sale</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="">Mô tả</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="">Ảnh</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="">Trạng thái</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div>
    <button class="btn btn-success">Submit</button>
  </div>
</form>
