<p>admin-product-list works!</p>
<p><a routerLink="/admin/create">Add</a></p>
<p><a routerLink="/admin/edit">edit</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action+</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td><button class="btn btn-primary">Xóa</button>
          <a routerLink="#" class="btn btn-primary">Sửa</a>
      </td>
    </tr>
  </tbody>
</table>

